.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #9DE0AD;
  height: 49px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4rem;
}

.toolbar__logo {
  padding-left: 50px;
}

.toolbar__logo a {

  text-decoration: none;
  font-size: 1.3rem;
  margin-right: 50px;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
  
}

.toolbar_navigation-items a {

  text-decoration: none;
}
/*
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:target,
.toolbar_navigation-items a:focus {
  color: rgb(197, 124, 56);
}
*/

.main {
  margin-top: 56px;

}

@media (min-width: 768px) {
  .main {
    margin-left: 10%;
    margin-right: 10%;
  }
  .toolbar__logo {
    margin-left: 5rem;
  }

  .toolbar__navigation {
    padding: 0 6rem;
  }

}

@media (min-width: 425px) {
  .main {
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .toolbar__logo {
    margin-left: 1rem;
  }

.toolbar__navigation {
  padding: 0 0rem;
}

}

@media (min-width: 280px) {
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .toolbar__logo {
    margin-left: 0;
  }
  .toolbar__navigation {
    padding: 0 0rem;
  }
}

.text-field {
  color: rgb(255, 255, 255);
  padding: 5px;
  margin: 50px;
}

.body,html {
  height: 100%;
  padding-bottom: 65px;
  background-color: #3a3939;
  background-image: linear-gradient(to bottom,  #45ADA8, #594F4F);
  
}



.bg {

  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social_links  {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: bottom;
  vertical-align: top;
  display: flex;
  
}

.links {
  margin-top: 25%;
}

.active{
  color: #c52828;;
  font-size: larger;
}
.inactive{
  color: rgb(0, 0, 0);;
}


.text-field-small {
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
}


/*
Use it in case little bit of debug needed
*{ border: 1px solid red; }

*/